﻿@model Nike.Models.Pages.ShoppingCartPage

<div class="container">
    <div class="row">
        <div class="col-xs-12 shopping-cart-title">
            @Html.PropertyFor(m => m.ShoppingCartTitle)
            <hr class="line" />
        </div>
    </div>
    <div id="when-cart-is-empty" class="hidden">
        <div>
            <div class="row image-box">
                <div class="image-box-image">
                    <img id="image-when-empty" src="~/images/cart/cart.png" class="image-cart-empty" />
                    <div id="text-when-empty" class="empty-cart-text">
                        @Html.Raw(Model.TextWhenEmpty)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @{
            Html.RenderAction("ShoppingListView", "ShoppingCartItemList");
        }
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <br /><br />
            <div id="hidden-when-empty">
                <div class="cart-summary-title">@Html.PropertyFor(m => m.CartSummaryTitle)</div>
                <div class="capsule-cart-summary">
                    @{
                        Html.RenderAction("Index", "CartSummaryTotal");
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <button id="keepshopping" onclick="window.location.href='../'" name="keepshopping" class="keepshopping-button">
                <span class="glyphicon glyphicon-chevron-left" style="padding-right:12%"></span>
                KEEP SHOPPING
            </button>
        </div>
    </div>
</div>