﻿@model Nike.Models.Blocks.FooterBlock
<div class="push"></div>
@{ if (Model.Categories != null)
    {
        if (Model.Categories.Any())
        {
            <br /><br />
            <div class="container" id="footer-color">
                <div class="row footer-height">
                    <div class="col-sm-5">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <p class="footer-title">Categories</p>
                            <ul class="footer-list-container">
                                @foreach (var item in Model.Categories)
                                {
                                    <li><a href="@Url.ContentUrl(item.Href)" class="footer-list" target="@item.Target">@item.Text</a></li>
                                    <p class="line-footer"> </p>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <p class="footer-title">Information</p>
                            <ul class="footer-list-container">
                                @foreach (var item in Model.Information)
                                {
                                    <li><a href="@Url.ContentUrl(item.Href)" class="footer-list" target="@item.Target">@item.Text</a></li>
                                    <p class="line-footer"> </p>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-2">
                    </div>

                    <div class=" col-xs-12 hidden-sm hidden-md hidden-lg">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle noborder" data-toggle="collapse" data-target="#myNavbar">
                                        <span class="expandarrows" style="text-decoration: none;">
                                            <i class="fa fa-chevron-right"> </i>
                                        </span>
                                    </button>
                                    <p class="footer-title">Categories</p>
                                </div>
                                <div class="collapse navbar-collapse" id="myNavbar">
                                    <ul class="footer-list-container">
                                        @foreach (var item in Model.Categories)
                                        {

                                            <li><a href="@Url.ContentUrl(item.Href)" class="footer-list">@item.Text</a></li>
                                            <p class="line-footer"> </p>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <br />
                    <div class=" col-xs-12 hidden-sm hidden-md hidden-lg">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle noborder" data-toggle="collapse" data-target="#myNavbar2">
                                        <span class="expandarrows" style="text-decoration: none;">
                                            <i class="fa fa-chevron-right"> </i>
                                        </span>
                                    </button>
                                    <p class="footer-title" style="padding-top:15px;">Information</p>
                                </div>
                                <div class="collapse navbar-collapse" id="myNavbar2">
                                    <ul class="footer-list-container">

                                        @foreach (var item in Model.Information)
                                        {

                                            <li><a href="@Url.ContentUrl(item.Href)" class="footer-list">@item.Text</a></li>
                                            <p class="line-footer"> </p>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

        }

    }

}