﻿#shopping-cart-symbol {
    position: relative;
}

#not {
    position: absolute;
    top: -1px;
    right: -10px;
    padding-top: 3px;
    background-color: #f00;
    width: 22px;
    height: 22px;
    font-size: 12px;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    text-align: center;
    border: 2px solid #fff;
}


.tooltip-btn {
    font-size: 14px;
    font-weight: 300;
    border-radius: 25px;
    border: 1px solid;
    border-width: thin;
    border-color: #c9b77a;
    width: 150px;
    height: 30px;
    color: black;
    background-color: white;
    outline: none;
    text-align: center;
    margin: 0 auto;
}

.tooltip-btn:hover {
    background-color: #c9b77a;
    border-color: #c9b77a;
    color: white;
}

.tooltip-btn:active {
    background-color: #c9b77a !important;
    border-color: #c9b77a !important;
    color: white !important;
    outline: 0 !important;
}


.tooltip-btn:focus {
    background-color: #c9b77a !important;
    border-color: #c9b77a !important;
    color: white !important;
    outline: 0 !important;
}



.container-tooltip-2 {
    padding: 20px 0px;
    cursor: context-menu;
}

.popover-2 {
    width: 200px;
    max-width: 1500px;
}

.popover-content-2 h4 {
    color: #00A1FF;
}

.popover-content-2 h4 small {
    color: black;
}

.container-tooltip {
    float: right;
    padding: 30px 8px 0px 0px;
    font-family: 'Montserrat';
    align-items: center;
    font-weight: 100;
}

.container-tooltip-2 {
    float: right;
    font-family: 'Montserrat';
    font-weight: 100;
    align-items: center;
}

.name-circle {
    font-size: 20px;
    cursor: context-menu;
}

.circle-name-container {
    padding-top: 18px;
    font-size: 2px;
    padding-left: 2%;
    cursor: context-menu;
}

.nomargin-hr {

    margin: 0 0 5% 0;

}

@media only screen and (max-width: 767px) {

    #mobile-mini-cart {
        display: inline !important;
    }

    #desktop-mini-cart {
        display: none;
    }

    .container-tooltip {
        float: right;
        padding: 10px 0px 0px 0px;
    }
    .container-tooltip-2 {
        padding-top: 2%;
    }

    #shopping-cart-symbol {
        padding-top: 11%;
    }

    .name-circle {
        font-size: 20px;
    }

    .circle-name-container{
       padding-top: 11px;
       font-size: 2px;
    }


}

#itemNr {
    cursor: context-menu;
}

.sad-face {
   font-size: 20px; 
   color:#c9b77a;
}

.unchangeable-cursor {
    cursor: context-menu;
}