﻿
.product-title {

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #505050;
    font-size: 30px;

}

.product-description {
    font-family: 'Open Sans', sans-serif;
    color: #505050;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #505050;
    font-size: 20px;
}

.breadcrumbs {
    font: 'Montserrat', sans-serif;
    color: #6b6b6b;
    font-size: 14px;
}

.backslash {
    color: #b8b8b8;
}

.breadcrumbs a {
    text-decoration: none;
    color: #c9b77a;
}


.product-display-title, .product-display-title:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #c9b77a;
    font-size: 20px;
    text-decoration: none;
}

.category-image{
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .product-display-title, .product-display-title:hover {
        font-size: 14px;
    }

    .breadcrumbs {
        font-size: 20px;
    }
}