﻿#shopping-cart-symbol {
    font-size: 36px !important;
    color: #C9BB7A;
}

@media(min-width: 992px) {

    #shopping-cart-list-section {
        border-right: 2px solid #E8E8E8;
    }
}

.shopping-cart-title p {
    font-family: 'Montserrat';
    font-weight: 100;
    color: #505050;
    font-size: 60px;
    line-height: 0.5;
    padding-top: 50px !important;
    padding-bottom: 10px;
}

.border-bottom {
    border-bottom: 2px solid #E8E8E8;
}

.item-image {
    width: 160px;
    height: 160px;
    border: 2px solid #d1d1d1;
    border-color: #ccc;
}

.item-color-square {
    width: 20px;
    height: 20px;
}

.tooltip-color {
    display: inline;
}

    .tooltip-color .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 2px 0;
        position: absolute;
        z-index: 1;
        margin-left: 3px;
        opacity: 0;
        transition: opacity 1s;
    }

    .tooltip-color:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

.item-details {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Montserrat';
    color: #505050;
}

.item-title {
    font-weight: 600;
}

#quantity-input {
    width: 50px;
}

.item-price {
    float: right;
    display: block;
}

.price-value {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #505050;
    font-size: 28px;
}

.item-remove-button {
    border: 2px solid #d1d1d1;
    border-color: #ccc;
    background-color: white;
    font-weight: 600;
    font-family: 'Montserrat';
    width: 160px;
    height: 40px;
    margin-top: 5px;
}

    .item-remove-button:hover {
        background-color: black;
        border-color: black;
        color: white;
    }

.capsule-cart-summary {
    background-color: #F8F8F7;
    padding: 15px;
}

.cart-summary-title {
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 30px;
}

.total-title {
    font-family: 'Montserrat';
    font-size: 30px;
}

#cart-summary-total-price {
    display: inline;
}

.quantity-box {
    width: 50px;
    border: 1px solid #d1d1d1;
    border-color: #ccc;
}

.keepshopping-button {
    font-size: 15px;
    font-weight: 300;
    border-radius: 25px;
    border: 1px solid;
    border-width: thin;
    border-color: #d1d1d1;
    width: 200px;
    height: 48px;
    color: black;
    background-color: white;
    float: left;
    outline: none;
}

    .keepshopping-button:hover {
        background-color: #d1d1d1;
    }

@media(max-width: 767px) {
    .item-image {
        width: 100%;
        height: auto;
    }

    .item-remove-button {
        width: 100%;
        height: 40px;
    }

    #shopping-cart-list-section {
        border-right: 0px;
    }

    .shopping-cart-title p {
        font-size: 20px;
    }
}

.errormessage {
    font-family: 'OpenSans';
    color: #ff4200;
    font-size: 12px;
    font-style: italic;
}

.image-box {
    position: relative;
    padding: 0;
    margin: 0;
    text-align: center;
}

.image-cart-empty {
    width: 100% !important;
    height: auto !important;
    opacity: 0.3;
}

.image-box-image {
    position: relative;
    display: block;
}


.empty-cart-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
    padding: 12%;
}

.empty-cart-text h1 {
    display: inline-table;
    vertical-align: middle;
    font-size: 20px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .empty-cart-text h1 {
        font-size: 40px;
    }
}

@media (min-width:1024px) {
    .empty-cart-text h1 {
        font-size: 60px;
    }
}