﻿.label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #505050;
    font-size: 18px;
}

.capsule {
    background-color: #F8F8F7;
    padding: 6% 0% 4% 2%;
    max-width: 100%;
}


/* Colors */

div.options {
    display: inline-block;
    padding-bottom: 3%;
}

.optional-break {
   display: none; 
}

div.options > label > input {
    visibility: hidden;
}


div.options > label > img {
    display: inline-block;
    border: 2px solid #d1d1d1;
    height: 30px;
    width: 30px;
    background: none;
    background-color: #ccc;
}

div.options > label > input:checked + img {
    border-color: blue;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
}

#tooltip{
    border-radius: 5px;
    border: thin black solid;
    background: red;
    color: white;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    opacity: 0;
    transition: opacity 1s;
    margin-top: -60px;
    margin-left: 20px;
    position: absolute;
    z-index: 1;
}


/* Sizes */
div.options2 > label > input {
    visibility: hidden;
}

div.options2 > label > img {
    display: inline-block;
    height: 30px;
    width: 30px;
    background: none;
    background-color: white;
    border: 1px solid #d1d1d1;
}

div.options2 > label > input:checked + img {
    background: url("/images/tick2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px 30px;
    background-color: white;
}

.value {
    font-family: 'Open Sans', sans-serif;
    color: #505050;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .optional-break {
        display: inline;
    }
}

/* Pictures */
.big-thumbnail {
    border: 4px solid #d1d1d1;
    height: auto;
    width: 100%;
    border-color: #ccc
}

.small-thumbnail {
    border: 4px solid #d1d1d1;
    height: 100px;
    width: 100px;
    border-color: #ccc
}

/* Picture Selection */

div.options3 > label {
    margin: 0;
}

    div.options3 > label > input {
        visibility: hidden;
    }

    div.options3 > label > img {
        display: inline-block;
        border: 2px solid #d1d1d1;
        height: 100px;
        width: 100px;
        background: none;
        background-color: #ccc;
    }

    div.options3 > label > input:checked + img {
        border-color: blue;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30px 30px;
    }


/* Price */

.price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
}

@media only screen and (max-width: 600px) {
    div.options3 > label > img {
        height: 73px;
        width: 73px;
    }

    .price {
        font-size: 28px;
    }
}

/*Whole info area*/

.gray-area {

    padding: 0;
  
}

@media only screen and (max-width: 600px) {
    .gray-area {

        margin-top: 7%;
        padding: 0 4% 0 4%;

    }
}

/*Add to cart button*/
.cart-button {
    font-size: 15px;
    border-radius: 25px;
    border: 0;
    width: 200px;
    height: 48px;
    background: linear-gradient(to right, #000000 28%, #c9bb7a 11%);
    color: white;
    float: right;
}

.enabled-cart-button {
    font-size: 15px;
    border-radius: 25px;
    border: 0;
    width: 200px;
    height: 48px;
    background: linear-gradient(to right, #000000 28%, #c9bb7a 11%);
    color: white;
    float: right;
}

    .enabled-cart-button:active {
        box-shadow: inset 0 0 0 0px #000000,inset 0 2px 10px #193047;
    }

    .enabled-cart-button:focus {
        outline: 0 !important;
    }
    

.cart-button:focus {
    outline: 0 !important;
}

.transparent-disabled {
    opacity: 0.6;
}


@media only screen and (max-width: 600px) {
    .cart-button {
        width: 100%;
        height: 45px;
        font-size: 11px;
        background: linear-gradient(to right, #000000 32%, #c9bb7a 11%);
    }

    .enabled-cart-button {
        width: 100%;
        height: 45px;
        font-size: 11px;
        background: linear-gradient(to right, #000000 32%, #c9bb7a 11%);
    }

}

/*Tweaks*/

.user-container {

    padding-left: 4%;

}

@media only screen and (max-width: 600px) {
    .user-container {
        float: right;
        padding-right: 2%;
    }
}