﻿@model Nike.Models.Pages.StandardPage
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-12">
        @Html.PropertyFor(m => m.CustomHTMLArea)
        @Html.PropertyFor(m => m.Content)
    </div>
</div>
<br />




