﻿.hero-img_gal {

    height: auto;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;

}

.hero-description_gal {

    font-family: 'Open Sans', sans-serif;
    color: #505050;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    width: 100%;
    padding: 0%;

}

* {

    font-family: 'Montserrat', sans-serif;

}

.hero-title_gal {

    color: #505050;
    font-size: 20px;
    font-weight: 400;
    text-align: left;

}

.eyebrow_gal {

    color: #c9b77a !important;
    text-decoration: none !important;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.2rem;

}


/*Queries*/

@media (max-width:768px) {

    .eyebrow_gal {

        font-size: 10px;

    }

    .hero-img_gal {
        /*max-height: 260px;*/
        width: 100%;
        height: auto;

    }

    .hero-title_gal {

        font-size: 13px;
        font-weight: 400;

    }

    .hero-description_gal {

        font-size: 13px;
        padding: 0% 0% 0% 0%;

    }


}
