﻿.hero-img {

    width: 100%;
    height: auto;
    border-radius: 5px;

}

.hero-description {

    font-family: 'Open Sans', sans-serif;
    color: #505050;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 100%;
    padding: 0% 17% 0% 17%;

}

* {

    font-family: 'Montserrat', sans-serif;

}

.pad {

    padding: 0px 10px;

}

.hero-title {

    color: #505050;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    font-weight: 100;

}

.read-more {
    
    font-size: 12px;
    text-align: center;
    font-weight: 700

}

.eyebrow {

    color: #c9b77a !important;
    text-decoration: none !important;
    font-weight: 600;
    text-align: center !important;
    letter-spacing: 0.2rem;

}


/*Queries*/

@media (max-width:768px) {

    .eyebrow {

        font-size: 10px;

    }

    .hero-img {

        /*max-height: 160px;*/

    }

    .hero-title {

        font-size: 23px;
        font-weight: 400;
    }

    .hero-description {

        font-size: 15px;
        padding: 0% 0% 0% 0%;

    }
}
