﻿html, body{
    height: 100%;
    margin: 0;
}

.padd {

    padding-top: 10px;

}

.bordered {

    border-right: 1px solid #ebebeb;

}

.icon_logo {
   
    width: 100%;
    height: auto;
    padding-top: 15px;
}

.openedburgerm {

    font-family: 'Montserrat';
    font-weight: normal;
    color: #797979;
    background-color: #f8f8f8;
    border-color: #ebebeb;
    margin-right: 15px;
    margin-bottom: 8px;

}

.navbar-default .navbar-nav :hover {

    color: #c9bb7a !important;

}

.navbar-nav {
    margin: 0;
}

.navbar-default {
    background: transparent !important;
    border-color: transparent !important;
    padding: 10px 0px 0px 0px !important;
    margin-bottom: 0px !important;
}

.navbar-collapse {
    padding-right: 0px;
}

.container-fluid {

    padding-left: 0px !important;
    padding-right: 0px !important;

}

.container_gal {

    padding: 0px;

}

.menu {

    font-family: 'Montserrat';
    font-weight: bold;
    color: #797979;
    font-size: 12px;
}

    .menu a {

        text-decoration: none;
        color: #797979;

    }


    .menu :hover {

        color: #c9bb7a;

    }

    .menu a :active state {

        color: #c9bb7a;

    }



.icon {

    font-family: 'FontAwesome';
    color: #c9bb7a;
    font-size: 20px;
    float: right;
    padding-top: 6%;

}


.ptitle {

    font-family: 'Montserrat';
    font-weight: bolder;
    color: #505050;

}

.mylabel {

    font-family: 'Open Sans';
    font-style: normal;
    color: #505050;
    font-size: 18px;

}

.copyright {

    font-family: 'Open Sans';
    font-style: normal;
    color: #aeadad;
    font-size: 14px;

}

.noborder {

    border: none !important;

}

    .noborder :hover {

        background-color: transparent !important;

    }

.arrowss {

    font-family: 'FontAwesome';
    color: #c5c5c5;
    font-size: 30px;

}

.expandarrows {

    font-family: 'FontAwesome';
    color: #aeadad;
    font-size: 15px;

}

    .expandarrows :hover {

        color: #c9bb7a;

    }


.arrowss :hover {

    color: #c9bb7a;

}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {

    background-color: transparent;

}


.centered {

    text-align: center;

}


.slick-prev:before, .slick-next:before {

    color: #c5c5c5 !important;

}


.slick-prev::before {

    font-family: 'FontAwesome';
    content: "\f053";
    font-size: 22px;

}

.slick-next::before {

    font-family: 'FontAwesome';
    content: "\f054";
    font-size: 22px;

}

.slidetitle {

    font-weight: bold;
    font-size: 12px;
    font-family: 'Montserrat';
    color: #c9bb7a;
    width: 100%;

}

.slidesubtitle {

    font-style: normal;
    font-size: 14px;
    font-family: 'Montserrat';
    width: 100%;

}

.slick-list {

    width: 100%;

}

.myHiddenDiv {

    visibility: hidden;

}


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}


footer {

    height: 100px;
    background-color: rgb(53, 52, 52);
    padding: 20px;
    text-align: center;
    display: block;

}

.big-footer {
    flex-shrink: 0;
}

.floating_right {
    float: right;
    height: 39px;
}

.user-container {
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width:auto;
}

.caps-lock {

    text-transform: uppercase;

}


.centered-with-padding {
    padding: 0;
    padding-top: 15px;
}

@media(min-width:768px) {

    .width-control {

        width: 30%;

    }

    .container-fluid > .navbar-header {
        margin : -3px !important;
    }


    .centered-with-padding {
        padding: 0%;
        float: right;
        padding-top: 15px;
    }


}


@media (min-width:767px) and (max-width:1024px) {

    .icon_logo {
        display: none !important;
    }

    .icon_logo2 {
        width: 50%;
        height: 50%;
        padding-left: 3%;
        padding-top: 7%;
        display: inline !important;
    }
}


.icon_logo2 {

    display: none;

}

@media only screen and (max-width: 767px) {

    .text-designer {
        font-size: 20px;
        font-weight: 300;
    }

    .icon_logo {
        display: none;
    }

    .icon_logo2 {
        width: 30%;
        height: 30%;
        padding-left: 3%;
        padding-top: 1%;
        display: inline;
    }

    .footer-title {
        padding-left: 3%;
    }

    .floating_right {
        padding-top: 5px;
    }

}

.navbar {
    margin-bottom: 0 !important;
}