﻿
.bordered {
    border-right: 1px solid #ebebeb;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pagetitle {
    font-family: 'Montserrat';
    font-weight: 100;
    color: #505050;
    font-size: 60px;
    line-height: 0.5;
    padding-top: 50px;
}

.icon-gender {
    font-family: 'FontAwesome';
    color: #c9bb7a;
    font-size: 30px;
    float: right;
    padding-top: 32px;
}


.ptitle {
    font-family: 'Montserrat';
    font-weight: bolder;
    color: #505050;
    font-size: 34px;
}

.mylabel {
    font-family: 'Open Sans';
    font-style: normal;
    color: #505050;
    font-size: 18px;
}

.input {
    font-family: 'Open Sans';
    font-style: normal;
    color: #aeadad;
    font-size: 14px;
    border-radius: 30px;
    border-color: #ebebeb;
    height: 50px;
    width: 95%;
    border-style: solid;
    border-width: 1px;
    padding-left: 20px;
    outline: none;
}

.radiobuttons {
    color: #aeadad;
    outline: none;
}

input[type='radio'] {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: none !important;
    box-shadow: 0 0 5px 0px #a5a2a2;
}

    input[type='radio']:hover {
        box-shadow: 0 0 5px 0px orange inset;
        outline: none !important;
    }

    input[type='radio']:before {
        content: '';
        display: block;
        width: 60%;
        height: 60%;
        margin: 20% auto;
        border-radius: 50%;
        outline: none !important;
    }

    input[type='radio']:checked:before {
        background: grey;
        outline: none !important;
    }

    input[type='radio']:checked:after {
        background: grey;
        outline: none !important;
    }

        .gender-label {
    margin-left: 15px;
    display: inline;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #a7a1a1;
    font-size: 18px;
    padding-right:15px;
}


.button {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #ffffff;
    font-size: 12px;
    border-radius: 30px;
    background-color: #c9bb7a;
    border: 0;
    padding: 9px 25px;
    outline: none;
}

.errormessage {
    font-family: 'Open Sans';
    font-style: italic;
    color: #ff4200;
    font-size: 12px;
    font-style: italic;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebebeb;
    width: 100%;
    border-width: 1px;
}

.line2 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebebeb;
    width: 100%;
    border-width: 1px;
}


.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    color: #aeadad;
    font-size: 14px;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

.bottom {
    text-align: center;
}

.centered {
    text-align: center;
}

@media (max-width: 756px) {
    .pagetitle {
        font-size: 28px;
        padding-top: 15%;
    }

    .icon {
        font-size: 25px;
    }

    .ptitle {
        font-size: 24px;
    }

    .line {
        width: 100%;
    }

    .bordered {
        border: none;
    }

    .mylabel {
        font-size: 14px;
    }

    .icon-gender {
        padding-top:  15px;
    }
}

@media (min-width: 756px) {
    .line2 {
        visibility: hidden;
    }
}

img {
    height: 200px;
    border-radius: 5px;
    width: 100%;
}

.myHiddenDiv {
    visibility: hidden;
}

.popover {
    width: 200px;
    max-width: 1500px;
}

.popover-content h4 {
    color: #00A1FF;
}

.popover-content h4 small {
    color: black;
}

#loggeduser {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #c9b77a;
    font-size: 12px;
    text-transform: capitalize;
}

#visible-for-guest {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #c9b77a;
    font-size: 12px;
}

