﻿/* slider */

#wrapper {

    width: 100%;
    margin: 0 auto;

}



img {

    width: 100%;

}

.title-line {
    margin: 0px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {

    background: black;

}

.slick-prev, .slick-next {

    border: 1px solid #999 !important;

}

#img-slider {

    padding-left: 10px;
    padding-right: 10px;

}

/* footer */

.footer {

    background-color: #454545;
    text-align: center;
    line-height: 90px;
    height: 100px;

}

.footer-title {

    font-family: 'Montserrat';
    color: #505050;
    font-weight: 900;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    padding-top: 20px;

}

.footer-list {

    font-family: 'Montserrat' !important;
    font-weight: normal;
    color: #505050 !important;
    font-size: 14px;
    border-color: #ebebeb;
    text-decoration: none;
    list-style-type: disc;
    margin-bottom: 5px;

}

ul li a {

    color : inherit;
    text-decoration: none;

}

ul li a:hover {

    color: #c9b77a;
    text-decoration: none;

}


.footer-list:hover {

    font-family: 'Montserrat';
    font-weight: normal;
    color: #c9b77a !important;
    font-size: 14px;

}

.footer-bullet {

    font-family: 'Montserrat';
    color: #505050;
    font-size: 30px;

}

.footer-button-id {

    width: 100%;

}


.container-fluid {

    padding-left: 0px !important;
    padding-right: 0px !important;

}

.line-footer {

    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    width: 100%;
    border-width: 1px;

}
.footer-list-container{

    width: 100%;

}

.navbar-collapse.collapse{

    border: none !important;

}

.copyright {

    font-family: 'OpenSans';
    font-weight: bold;
    color: #aeadad;
    font-size: 14px;

}

/*reduce flickering*/

.slider {

    visibility: hidden;

}

#footer-color {
    background-color: #F8F8F7;
}