﻿@model Nike.Models.ViewModels.CategoriesViewModel
@using Nike.helpers

@{
    ViewBag.Title = "Index";
}

@{
    int counter = 0;
}

<div class="container" style="padding: 0">
    <div class="row">
        @foreach (ProductDisplayViewModel productDisplay in Model.ProductDisplayList)
        {


            <div class="col-xs-12 col-md-3">
                <a href="@productDisplay.Href" class="product-display-title">@productDisplay.ProductName</a>
                <a href="@productDisplay.Href" ><img class="category-image" src="@productDisplay.AssetUrlLink" /> </a>
            </div>
            counter++;
        }
    </div>
</div>
