﻿@model Nike.Models.ViewModels.RegisterLoginViewModel
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <p class="pagetitle"> @Model.Title </p>
        </div>
        <div class="col-xs-2 icon-gender">
            <i id="ic" class="fa fa-male fa-2x icon-gender"> </i>
        </div>
    </div>
    <hr class="line">
    <div class="row">
        <div class="col-md-8 col-xs-12 bordered">
            <br>
            <h1 class="ptitle"> @Model.RegisterSubtitle </h1>

            @Html.Partial("~/Views/Shared/_Register.cshtml", Model.RegisterViewModel)
        
        </div>
        <div class="col-md-4 col-xs-12">

            <hr class="line2">
            <h1 class="ptitle">  @Model.LogInSubtitle </h1>
            <br>

            @Html.Partial("~/Views/Shared/_Login.cshtml", Model.LoginViewModel)
            
        </div>
    </div>
    <br />
    @Html.PropertyFor(m => m.Gallery)
</div>