﻿@using EPiServer.Web.Mvc.Html
@model Nike.Models.Blocks.GalleryBlock

<br />
<hr class="line" />
<div>
    <div class="container_gal">
        <br>
        <div class="row">
            <div class="col-xs-12">
                @Html.PropertyFor(m => m.Container, new { CssClass = "slider", ChildrenCssClass = "sliderdiv", Tag = "Gallery" })
            <br />
            </div>
        </div>
        @{
            if (Model.Container != null)
            {
                if (Model.Container.Count > 3)
                {
                    <input style="display: none" value="true"
                           name="desktopNeeds" id="desktopNeeds" />
                }
                else if (Model.Container.Count > 1)
                {
                    <input style="display: none" value="true"
                           name="mobileNeeds" id="mobileNeeds" />
                }
            }
        }
        <hr class="line" id="stealthLine" style="visibility: hidden">
        <div class="row" id="stealthArrows" style="visibility: hidden">
            <div class="col-xs-12">
                <div class="centered">
                    <span class="arrowss left" style="text-decoration: none;">
                        <i class="fa fa-chevron-left"> </i>
                    </span>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <span class="arrowss right" style="text-decoration: none;">
                        <i class="fa fa-chevron-right"> </i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

