﻿@using EPiServer.Web.Mvc.Html
@model Nike.Models.Blocks.HeroBlock

<div class="pad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div  style="text-align: center !important;">
                    @{ 

                        if (Model.EyebrowLink.Any())
                        {
                            <a href="@Url.ContentUrl(Model.EyebrowLink[0].Href)" class="eyebrow" target="@Model.EyebrowLink[0].Target">@Model.EyebrowLink[0].Text</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="hero-title">
                    @Html.PropertyFor(m => m.Title) 
                </div>
            </div>
        </div><br />
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                @{
                    if ((Url.ContentUrl(Model.Image)).Substring(Url.ContentUrl(Model.Image).Length - 3) == "mp4")
                    {
                        <video autoplay class="hero-img" muted loop>
                            <source src="@Url.ContentUrl(Model.Image ) " type="video/mp4">
                        </video>
                    }
                    else
                    {
                        <img class="hero-img" @Html.EditAttributes(m => m.Image) src="@Url.ContentUrl(Model.Image ) " />
                    }
                }
          

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-xs-12">

                <div class="hero-description">
                    @Html.PropertyFor(m => m.PreviewText)
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-xs-12">
                <div class="read-more">
                    <a style="color: #505050" href="@Url.ContentUrl(Model.LinkText)">READ MORE</a>
                </div>
            </div>
        </div>
    </div>
</div>

