﻿@model Nike.Models.ViewModels.CartSummaryTotalViewModel

<div class="total-title">
    Total: &nbsp; &nbsp;
    <p id="cart-summary-total-price" class="price-value">$@Model.TotalPrice.ToString("0.00")</p>
</div>