﻿@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    @Styles.Render("~/bundles/layoutCSS")
    @Styles.Render("~/bundles/heroBlock")
    @Styles.Render("~/bundles/slickStyle")
    @Styles.Render("~/bundles/commerceCSS")
</head>
<body>
    <div class="wrapper">
        @{
            Html.RenderAction("Header", "Layout");
        }
        <br>
        <hr class="title-line" />
        <br />
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <div class="big-footer">
        @{ Html.RenderAction("Footer", "Layout"); }

        <footer>
            <br />
            <p class="copyright">
                ©2018. All rights reserved.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/common")
    @Scripts.Render("~/bundles/slickJS")

    @Styles.Render("~/bundles/commerceCSS")

    <script src="https://use.fontawesome.com/e6036bd41b.js"></script>

</body>
</html>