﻿@model Nike.Models.ViewModels.LoginViewModel

<div id="login-form">
    @using (Ajax.BeginForm("Login", "RegisterAndLogInPage", new AjaxOptions { OnSuccess = "handleLoginSuccess" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>

            <p class="mylabel"> Email </p>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input" } })
            <br />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errormessage" })

            <p class="mylabel"> Password </p>
            <div class="mylabel">
                @Html.PasswordFor(model => model.Password, new { @class = "input", placeholder = "Password" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errormessage" })
                <p id="custom-password-error" class="errormessage">@Model.IncompatibleFieldsError</p>
            </div>
            <p>
                <input type="submit" value="LOG IN" class="button" />

            </p>
        </fieldset>
    }
</div>
