﻿@model Nike.Models.ViewModels.MiniCartViewModel

<div class="container-tooltip-2 target">
    <div class="pop-2 bottom fa fa-shopping-cart" data-placement="bottom" data-toggle="popover-2" data-container="body" data-html="true" href="#" id="shopping-cart-symbol">
        <div id="not"> <span id="itemNr" class="itemNr">@Model.NumberOfItems</span> </div>
    </div>

    &nbsp;&nbsp;&nbsp;&nbsp;
    <div id="popover-content-2" class="hide">
        <div class="row">
            <div class="col-xs-12 centered">
                <p class="unchangeable-cursor">Cart Total: <span id="totalprice" class="totalprice">$@Model.TotalPrice.ToString("0.00")</span></p>

                <button onclick="RedirectPage()" id="viewcart-btn" name="tooltip-button" class="tooltip-btn btn btn-sm btn-primary">
                    View Cart
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container-tooltip target circle-name-container">

    <span id="visible-for-guest"> </span>
    <span class="pop bottom" data-placement="bottom" data-toggle="popover" data-container="body" data-html="true" href="#" id="loggeduser">

        <span class="fa-stack fa-lg name-circle">
            <span class="fa fa-circle fa-stack-2x"></span>
            @{
                if (Model.Username.Length != 0 && !Model.Username.Equals("GUEST"))
                {
                    <span class="fa fa-inverse fa-stack-1x unchangeable-cursor">@Model.Username.ToUpper()[0]</span>
                }
                else
                {
                    <span class="fa fa-inverse fa-stack-1x"><i class="fa fa-user" aria-hidden="true"></i></span>
                }

            }

        </span>

    </span>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div id="popover-content" class="hide">
        <div class="row">
            <div class="col-xs-12 centered">
                @{ if (Model.Username.Length != 0 && !Model.Username.Equals("GUEST"))
                    {
                        <p class="unchangeable-cursor">@Model.Username</p>
                        <hr class="nomargin-hr">
                        <p class="unchangeable-cursor"> Leaving already? <i class="fa fa-frown-o sad-face" aria-hidden="true"></i></p>
                        <button id="logout" name="tooltip-button" class="tooltip-btn btn btn-sm btn-primary">
                            Log Out
                        </button>
                    }
                    else
                    {
                        <p class="unchangeable-cursor">Guest</p>
                        <hr class="nomargin-hr">
                        <button id="register-login" name="tooltip-button" class="tooltip-btn btn btn-sm btn-primary">
                            Register / Log In
                        </button>
                    }

                }

            </div>
        </div>
    </div>
</div>
