﻿@model Nike.Models.ViewModels.RegisterViewModel
<div id="register-form">
    @using (Ajax.BeginForm("Register", "RegisterAndLogInPage", new AjaxOptions { OnSuccess = "handleSuccess" }))
    {
        @Html.ValidationSummary(true)
    <fieldset>
        <br />

        <p class="mylabel"> First Name </p>
        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input" } })
        <br />
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "errormessage" })

        <br />
        <br />

        <p class="mylabel"> Last Name </p>

        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input" } })
        <br />
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "errormessage" })


        <br>
        <br />

        <p class="mylabel"> Phone Number </p>


        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "input" } })
        <br />
        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "errormessage" })


        <br>
        <br />

        <p class="mylabel"> Email </p>

        <div class="mylabel">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input", id ="register-email"} })
            <br />
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "errormessage" })
        </div>

        <br />
        <p class="mylabel"> Gender </p>

        <span class="gender-label"> Male </span>
        @Html.RadioButtonFor(m => m.Gender, "Male", new { @id = "male", @htmlAttributes = new { @class = "radiobuttons" } })
        <span class="gender-label"> Female </span>
        @Html.RadioButtonFor(m => m.Gender, "Female", new { @id = "female", @htmlAttributes = new { @class = "radiobuttons", id = "female" } })
        <br />
        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "errormessage" })
        <br />
        <br />

        <dl>
            <dt> <span class="mylabel" style="font-weight: normal;"> State </span></dt>
            <dd>
                @Html.DropDownListFor(m => Model.SelectedState, new SelectList(Model.StateList), "Select state", new { @class = "input" })
            </dd>
        </dl>
        @*@Html.ValidationMessageFor(model => model.SelectedState, "", new { @class = "errormessage" })*@
        <br />
        <p class="mylabel"> Password </p>
        <div class="mylabel">
            @Html.PasswordFor(model => model.Password, new { @class = "input", placeholder = "Password", id = "register-password" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "errormessage" })
        </div>

        <br>

        <p class="mylabel"> Confirm Password </p>
        <div class="mylabel">
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "input", placeholder = "Password" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "errormessage" })
        </div>
        <br />
        <p>
            <input type="submit" value="REGISTER" class="button" />

        </p>
    </fieldset>
    }
</div>