﻿@model Nike.Models.ViewModels.ShoppingCartViewModel.ShoppingCartItemListViewModel
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <br />
    <div id="item-list-count" data-model="@Json.Encode(Model.ShoppingCartItemList.Count)"></div>


    <div class="row ">
        <div id="shopping-cart-list-section">
            @{
                int idCounter = 1;
            }
            @foreach (var item in Model.ShoppingCartItemList)
            {<br id="br1-@item.SkuCode"> <br id="br2-@item.SkuCode">
                <div class="col-xs-12 col-sm-3 col-md-4 col-lg-3" id="@item.SkuCode">
                    @{
                        if (item.ImageUrl == "" || item.ImageUrl == null)
                        {
                            <img class="big-thumbnail" src="~/images/No_Image_Available.jpg" id="main" />
                        }
                        else
                        {
                            <img class="item-image" src="@item.ImageUrl" />
                        }
                    }


                    <button class="item-remove-button" data-id="@idCounter" name="item-remove-button">remove</button>
                    <input type="text" id="input-remove-@idCounter" name="input-remove-@idCounter" value="@item.SkuCode" style="display : none">
                </div>
                <div class="col-xs-12  col-sm-9 col-md-8 col-lg-9 border-bottom" id="desc-@item.SkuCode">
                    <div class="row ">
                        <br />
                        <div class="col-xs-6">
                            <div class="item-details item-title">@item.ProductName</div>
                            <div class="item-details">Size: &nbsp;@item.SelectedSize</div>
                            <div class="item-details">
                                Color: &nbsp;
                                <div class="tooltip-color">
                                    <img class="item-color-square" style="background-color: @item.SelectedColorCode" />
                                    <span class="tooltiptext">@item.SelectedColorName</span>
                                </div>
                            </div>
                            <a class="hidden" id="@("item-price" + idCounter)">@item.PriceOneItem</a>
                            <div class="item-details">
                                Quantity:  &nbsp;
                                <input type="number" min="1" step="1" class="quantity-box" style="display:inline;" onchange="return computeItemTotalPrice(@idCounter)" id="@("item-quantity" + idCounter)" value="@item.Quantity">
                                <div class="errormessage" id="@("errormessage" + idCounter)"></div>
                            </div>
                            <input type="text" id="quantity-changer-@idCounter" value="@item.SkuCode" style="display : none">
                        </div>
                        <div class="col-xs-6">
                            <div class="item-price">PRICE</div><br />
                            <div class="item-price price-value" id="@("item" + idCounter)">$@item.TotalPrice.ToString("0.00")</div>
                            @{
                                idCounter++;
                            }
                        </div>
                    </div>
                    <br />
                </div>
                <div class="row " id="row-@item.SkuCode"></div>
            }
        </div>
    </div>


</div>
