﻿@using EPiServer.Web.Mvc.Html
@model Nike.Models.Blocks.HeroBlock

<div class="pad">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">

                <img class="hero-img_gal" @Html.EditAttributes(m => m.Image) src="@Url.ContentUrl(Model.Image ) " />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12">
                <div>
                    @{
                        if (Model.EyebrowLink.Any())
                        {
                            <a href="@Url.ContentUrl(Model.EyebrowLink[0].Href)" class="eyebrow_gal" target="@Model.EyebrowLink[0].Target">@Model.EyebrowLink[0].Text</a>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="hero-title_gal">
                    <p>@Html.PropertyFor(m => m.Title) </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

                <div class="hero-description_gal">
                    @Html.PropertyFor(m => m.PreviewText)
                </div>
            </div>
        </div>
        <br />
    </div>
</div>

