﻿@model Nike.Models.ViewModels.VariantViewModels.CurrentVariantViewModel
@using Nike.Helpers

<div id="model-code" data-model="@Json.Encode(Model.CurrentVariant.Code)"></div>
<div id="model-sku" data-model="@Json.Encode(Model)"></div>
<input style="display: none" name="colorField" id="colorField" value="@Model.CurrentVariant.Color1">

<div class="container" style="padding: 0">       
        <hr>         
        <div class="row">
            <div class=" col-lg-6 col-xs-12">
                @if (Model.Variants.Any())
            {
                if (Model.Variants[0].AssetLinks != null)
                {
                    <img class="big-thumbnail" src="@Url.ContentUrl(Model.CurrentVariant.AssetLinks[0])" id="main" />
            }
            else
            {
                <img class="big-thumbnail" src="~/images/No_Image_Available.jpg" id="main" />
        }
        <br /><br />
        <div class="options3">

            @{
            int currentImage = 0;
            if (@Model.CurrentVariant.AssetLinks != null)
            {
                foreach (string link in @Model.CurrentVariant.AssetLinks)
                {
                    <label title="Selectable">
                        <input id="@currentImage" type="radio" name="image-selector" value="@link" style="display: none" />
                        <img class="small-thumbnail" src="@link" />
                    </label>
                currentImage++;
            }
        }

            }

        </div>
}
            </div>
            <div class="col-lg-6 col-xs-12 gray-area">
                <div class="product-title">@Model.ShoeProductName</div><br />
                <div class="product-description">@Html.Raw(Model.ShoeProductDescription)</div>
                <br />
                <div class="capsule">

                    <div class="options">
                        <p class="label">Color: </p>
                        <br class="optional-break" />
                        @{
                        HashSet<string> colorCodes = new HashSet<string>();
                        foreach (var variant in Model.Variants)
                        {
                            if (!colorCodes.Contains(variant.ColorCode))
                            {
                                <label title="@variant.Color1" class="selection-confirm">

                                    <input id="@variant.Color1.Replace(" ", String.Empty)" type="radio" name="color" value="@variant.Color1"  class="required selection-confirm" />
                                    <img style="background-color: @variant.ColorCode" />

                                </label>}
                        colorCodes.Add(variant.ColorCode);
                    }
                        }
                    </div>
                    <br />
                    <br class="optional-break" />
                    <div class="options2">
                        <p class="label">Size: </p>
                        <br class="optional-break" />
                        @{
                        SortedSet<string> sizes = new SortedSet<string>();
                        foreach (var variant in Model.Variants)
                        {
                            if (variant.Color1.Equals(Model.CurrentVariant.Color1))
                            {
                                sizes.Add(variant.Size);
                            }
                        }

                        foreach (string size in sizes)
                        {
                            <label title="@size">
                                <input type="radio" id="@size" name="size" value="@size" />
                                <img />
                                <span class="value">@size</span>
                            </label>
                    }
                        }
                    </div>
                </div>

                <br /><br />
                <div class="col-xs-6">
                    @{
                    string currentPrice = Model.CurrentVariant.Price.ToString("0.##");
                    }
                    <div class="price">$@currentPrice</div>
                </div>
                <div class="col-xs-6" style="padding: 0">
                    <button id="addtocart" name="addtocart" class="cart-button transparent-disabled" disabled>
                        <span class="glyphicon glyphicon-shopping-cart" style="padding-right:12%"></span>
                        ADD TO CART
                    </button>
                </div>
            </div>
        </div>
    </div>
<script>
    tooltip();
</script>