﻿@model Nike.Models.ViewModels.ProductViewModels.ShoeProductViewModel

<div id="model" data-model="@Json.Encode(@Model)"></div>

<div class="breadcrumbs">
    <br />
    <a href="@Model.HomeUrl">
        <i class="fa fa-home"></i>
    </a>
    <span class="backslash">
        &nbsp;/&nbsp;
    </span>
    @for (int i = 1; i < Model.AncestorLinks.Count; i++)
    {
        <a href="@Model.AncestorLinks.ElementAt(i)"> @Model.AncestorNames.ElementAt(i)</a> <span class="backslash"> &nbsp;/ &nbsp; </span>
    }

    @Model.ShoeProductName
</div>

<div class="partialArea">
    <div class="container" style="padding: 0">
        <hr>
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                @if (Model.Variants.Any())
                {

                    if (Model.AssetLinks.Any())
                    {
                        <img class="big-thumbnail" src="@Url.ContentUrl(Model.AssetLinks[0])" id="main" />
                    }

                    else if (Model.Variants[0].AssetLinks.Any())
                    {
                        <img class="big-thumbnail" src="@Url.ContentUrl(Model.Variants[0].AssetLinks[0])" id="main" />
                    }
                    else
                    {
                        <img class="big-thumbnail" src="~/images/No_Image_Available.jpg" id="main" />
                    }
                    <br /><br />
                    <div class="options3">
                        @{
                            int maxImages = 20, currentImage = 0;

                            foreach (var asset in Model.AssetLinks)
                            {
                                if (currentImage >= maxImages)
                                {
                                    break;
                                }

                                <label title="Selectable">
                                    <input id="@currentImage" type="radio" name="image-selector" value="@asset" style="display: none" />
                                    <img class="small-thumbnail" src="@asset" />
                                </label>

                                currentImage++;
                            }

                            HashSet<string> ColorsCopy = new HashSet<string>(Model.Colors);
                            foreach (var variant in Model.Variants)
                            {
                                if (ColorsCopy.Contains(variant.Color1))
                                {
                                    foreach (string link in @variant.AssetLinks)
                                    {
                                        if (currentImage >= maxImages)
                                        {
                                            break;
                                        }

                                        <label title="Selectable">
                                            <input id="@currentImage" type="radio" name="image-selector" value="@link" style="display: none" />
                                            <img class="small-thumbnail" src="@link" />
                                        </label>

                                        currentImage++;
                                    }
                                    ColorsCopy.Remove(variant.Color1);
                                }
                                if (currentImage >= maxImages)
                                {
                                    break;
                                }
                            }
                        }
                    </div>
                }
                else
                {
                    if (Model.AssetLinks.Any())
                    {
                        <img class="big-thumbnail" src="@Url.ContentUrl(Model.AssetLinks[0])" id="main" />
                    }

                }

            </div>

            <div class="col-lg-6 col-xs-12 gray-area">
                <div class="product-title">@Model.ShoeProductName</div><br />
                <div class="product-description">@Html.Raw(Model.ShoeProductDescription)</div>
                <br />
                <div class="capsule">

                    <div class="options" style="position: relative;">
                        <p class="label">Color: </p>
                        <br class="optional-break" />

                  
                        @for (int i = 0; i < Model.Colors.Count(); ++i)
                        {
                            <label title="@Model.Colors.ElementAt(i)" class="selection-confirm" >

                                <input id="@Model.Colors.ElementAt(i).Replace(" ", String.Empty)" type="radio" name="color" value="@Model.Colors.ElementAt(i)" class="required selection-confirm" /> 
                                <img style="background-color: @Model.ColorCodes.ElementAt(i)" />

                            </label>
                        }

                    </div>
                    <br />
                    <br class="optional-break" />
                    <div class="options2">
                        <p class="label">Size: </p>
                        @{
                            <br class="optional-break" />
                            foreach (string size in Model.Sizes)
                            {
                                <label title="@size">

                                    <input type="radio" name="foo2" value="0" />
                                    <img />
                                    <span class="value">@size</span>

                                </label>
                            }
                        }
                    </div>

                </div>
                <br /><br />
                <div class="col-xs-6">
                    @{
                        if (Model.MinPrice == Model.MaxPrice)
                        {
                            @: <div class="price">$@Model.MinPrice.ToString("0.##")</div>
                        }
                        else
                        {
                            string minPrice = Model.MinPrice.ToString("0.##");
                            string maxPrice = Model.MaxPrice.ToString("0.##");
                            @: <div class="price">$@minPrice - $@maxPrice</div>
                        }
                    }
                </div>
                <div class="col-xs-6" style="padding: 0">
                    <button id="addtocart" name="addtocart" class=" btn btn-sm btn-primary cart-button transparent-disabled" disabled>
                        <span class="glyphicon glyphicon-shopping-cart" style="padding-right:12%"></span>
                        ADD TO CART
                    </button>
                </div>

            </div>
        </div>
    </div>

</div>


